h1 {
    color: green;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #555;
}
#drop-area.highlight {
    border-color: blue;
}
#fileElem {
    display: none;
}
button {
    margin-top: 10px;
}
#preview {
    margin-top: 20px;
    text-align: center;
}
#preview img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}